@media (max-width: 1200px){
    #title-left{
        position: relative!important;
        width: 100%!important;
        border-right: 0!important;
        border-bottom: 2px solid blue;
    }

    #writing-right {
        position: relative!important;
        margin: auto!important;
        padding: 90px 0 0 0!important;
        max-width: 650px!important;
        width: auto!important;
    }

    #qna {
        margin: 50px;
    }
}

:root {
    --main-color: blue; 
    --secondary-color: fuchsia;
    --white-maybe: white;
}

* {
    box-sizing: border-box;
    color: var(--main-color);
}

body {
    margin: 0; 
    padding: 0;
    background-color: var(--white-maybe);
    cursor: default;

    overflow-x: hidden;
}

::selection {
    background: yellow;
    color: var(--main-color);

}

/*back to top button*/
#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;

    border: none;
    outline: 2px solid var(--white-maybe);
    background-color: var(--main-color); 
    color: var(--white-maybe);

    cursor: pointer; 
    padding: 15px; 
    border-radius: 50px; 
  }
  
#myBtn:hover {
    background-color: var(--secondary-color);
}

#title-left {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    height: 100vh;
    width: 40vw;
    background-color: var(--main-color);
    border-right: 2px solid var(--main-color);
    box-shadow: 5px 0px 30px var(--main-color);
    padding: 90px;

    overflow: hidden;
}

#title-gifs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gif {
    position: absolute;
    width: 150px;
    margin-left: -70px;
    user-select: none;
}

#title {
    color: var(--white-maybe);
    font-family: "lores-22-serif", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60pt;
    margin-bottom: -10px;
}

#sub-title {
    color: var(--white-maybe)!important;
    font-family: "lores-22-serif", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    
}

#desc {
    max-width: 330px;
    margin: auto;
    border-radius: 50px;
    padding: 30px;
    padding-bottom: 20px;
    color: var(--white-maybe);
    justify-content: center;

    font-family: sans-serif;
    line-height: 22px;
}

a {
    text-decoration: none;
}

.link-web {
    color: var(--main-color);
    text-decoration: none;
    background: var(--white-maybe);
    font-family: sans-serif; 

    padding: 2px 6px;
    border-radius: 10px;
}

.link-web:hover {
    background-color: var(--secondary-color);
}

.img-star {
    color: var(--white-maybe)!important;
    background-color: var(--main-color);
    border-radius: 100vw;

    width: 20px;
    height: 20px;
    text-align: center;

    display: inline-block;
    position: static;
    cursor: pointer;
}

.img-star:hover {
    background-color: var(--secondary-color);
}

div.img-center .img-star {
    margin: 20px 10px 0px 1px;
}

/*img section*/

.img-box {
    color: var(--white-maybe)!important;
    background-color: var(--main-color);
    box-shadow: 0px 0px 30px var(--main-color);
    border-radius: 20px;
    padding: 10px;

    width: 100%;
    height: 460px;
    text-align: center;
    margin: 30px 0 0px 0;

    position: static;
    overflow: scroll;
    overflow-x: hidden;
}

.img-type {
    color: var(--white-maybe);
    margin-top: -15px;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    font-size: 0.8rem;
}

.img-type-left {
    color: var(--white-maybe);
    text-align: left;
}

.img-type-right {
    color: var(--white-maybe);
    text-align: right
}

.img-size {
    width: 100%;
    border-radius: 10px;
}

/*
.first-letter {
    font-family: "lores-22-serif", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
}
/*
.first-letter-a {
    font-family: "lores-22-serif", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
}
*/

/* questions! */

#writing-right {
    margin-left: 40vw;
    position: absolute;
    font-family: sans-serif;
    line-height: 22px;

    width: 60vw;
    padding: 90px 90px 0 90px;

    display: flex;
    justify-content: center;
  }

#qna {
    max-width: 640px;
    width: 100%;
}

.one-question {
    padding-top: 20px;
    margin: auto;
  }

.one-question:first-of-type {
    padding-top: 0px;
  }

.question {
    margin-right: 36%;
    font-weight: bold;
}
  
.answer {
    padding-top: 20px;
    margin-left: 29%;
  }

.brat {
    color: #8ACE00;
}

/*footer*/

#footer-sec {
    height: 50px;
    width: 80%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 20px 10% 40px 10%;
    
}

#footer-div {
    height: 50px;
    width: 100%;
    margin: 10px;

    background-color: var(--main-color);
    border-radius: 50px;
}

.footer-text {
    height: 50px;
    width: 100%;
    margin-top: 45px;

    background-color: var(--main-color);
    border-radius: 50px;

    position: static;

    color: var(--white-maybe);
    text-align: center;
    padding: 15px;

    font-family: "lores-22-serif", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

.footersp {
    color: var(--white-maybe); 
}

#me-link {
    color: var(--white-maybe); 
}

#me-link:hover {
    color: var(--secondary-color); 
}
